html,body, .app {
    height:  100vh;
    background-color: rgb(50,50,50);
    padding:  1em;
}

/* Login page  */
#login-email, #login-password {
    background: rgb(60,60,60);
}

/* Signup page */
#register-username, #register-email, #register-password, #register-password2 {
    background: rgb(60,60,60) !important;
}

/* Messages.js */
.messages {
    height: 690px;
    overflow-y: scroll;
}

.ui.comments {
    margin: 1.5em 0;
    max-width: 100% !important;
}

.ui.segment {
    position: relative;
    background:rgb(50,50,50) !important;
    box-shadow: 0 2px 20px 4px rgba(34,36,38,.15)!important;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.ui.header .icon:only-child {
    display: inline!important;
    padding: 0;
    height: 32px;
    margin-right: .75rem;
}

.ui.icon.input>input {
    padding-right: 2.67142857em!important;
    background: rgb(70,70,70) !important;
}

.ui.comments .comment {
    margin-bottom: 20px !important;
}

/* MessageForm.js */
.message_form {
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    left: 0;
    right: 1em;
    z-index: 100; 
}

.ui.fluid.input>input {
    width: 0!important;
    background: rgb(70,70,70);
}

.emojipicker {
    position: absolute;
}

/* Message.js */

.own_message {
    border-left: 2px solid blue;
    padding-left: 8px;
}

.message_image {
    padding: 1em;
}

/* Progress Bar */

.progress_bar {
    margin: 0.3em 0 0 0 !important;
}

/* SidePanel.js */

.direct_menu {
    padding-bottom: 2em;
}

/* ColorPanel.js */

.color_container {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 35px;
    border-radius: 3px;
}

.color_square {
    width: 35px;
    height: 35px;
}

.color_overlay {
    width: 85px;
    height: 35px;
    transform: rotate(225deg);
}

/* Typing.js */
.user_typing {
    font-style: italic;
    font-weight: bold;
    margin-right: 3px;
}

.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
}

.typing_dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing_dot:nth-child(1) {
    animation-delay: 0s;
}

.typing_dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing_dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}


/* PreLoad.js */

.outline {
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
}

.outline::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    animation: sweep 2s infinite;
    background-image: linear-gradient(to left, transparent, rgba(255,255,255,0.4), transparent)
}

@keyframes sweep {
    0% {
        transform: translateX(-100%)
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.outline_avatar {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: rgba(58,57,57,0.3);
}

.outline_author {
    background-color: rgba(58,57,57,0.3);
    width: 120px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 0;
}

.outline_details {
    background-color: rgba(58,57,57,0.3);
    height: 20px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 20px;
}


/* MetaPanel */
.ui.top.attached.header {
    margin-bottom: 0;
    background:rgb(70,70,70);
    color: whitesmoke;
    border: solid rgb(40,40,40) 1px;
    border-radius: .28571429rem .28571429rem 0 0;
}

.ui.styled.accordion, .ui.styled.accordion .accordion {
    border-radius: .28571429rem;
    border: solid rgb(40,40,40) 1px;
    background: rgb(70,70,70) !important;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15);
}

.ui.list>.item .description {
    display: block;
    color: whitesmoke !important;
}

.ui.header:last-child {
    margin-bottom: 0;
    color: aqua !important;
}





/* ///////////////////////////////////////////////////////////Media queires/////////////////////////////////////////////////////////////////// */


@media only screen and (max-width: 600px) {

    .ui[class*="very thin"].left.sidebar, .ui[class*="very thin"].right.sidebar {
        display: none !important;
    }

    .ui.visible[class*="very thin"].left.sidebar~.fixed, .ui.visible[class*="very thin"].left.sidebar~.pusher {
        -webkit-transform: translate3d(60px,0,0);
        transform: translate3d(60px,0,0);
        display: none !important;
    }

    .main-panel {
        margin-left: 0 !important;
        width: 100% !important; 
        margin-bottom: 124px !important;

    }

    .meta-panel {
        display: none !important;
    }

    .message_form {
        margin-left: 0 !important;
        bottom: 0px !important;
    }
  }