html,body, .app {
    height:  100vh;
    background-color: #eee;
    padding:  1em;
}

/* Messages.js */
.messages {
    height: 690px;
    overflow-y: scroll;
}

/* MessageForm.js */
.message_form {
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    left: 0;
    right: 1em;
    z-index: 100; 
}

/* Message.js */

.own_message {
    border-left: 2px solid blue;
    padding-left: 8px;
}